@import "tailwindcss";

:root {
  background-color: #111111; /* Very dark background */
  color: #000000;            /* Default text to black (inside our white boxes) */
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}